.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: space-between;
  position: fixed;
  background: rgb(0, 6, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 6, 36, 1) 0%,
    rgba(9, 97, 121, 1) 35%,
    rgba(0, 192, 255, 1) 100%
  );
}
.header.scrolled {
  background: rgb(0, 6, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 6, 36, 1) 0%,
    rgba(9, 97, 121, 1) 50%,
    rgba(0, 205, 255, 1) 80%
  );
}

.logo {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.842);
  font-family: "Lora", serif;
  font-weight: 500;
  transform: rotate(5deg);
  margin-left: 2rem;
  position: relative;
}

.logoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.25rem;
}

.header ul {
  list-style-type: none;
  margin: 1.4rem;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  justify-content: center;
}
.header li {
  margin-right: 3.5rem;
}

.header a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.82);
  transition: all 0.15s;
}
.header a:hover,
.header a:active,
.header a.active {
  color: #fff;
}

.iconsContent {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.623);
  position: relative;
}
.iconsContent li {
  padding-left: 1rem;
  margin-right: auto;
  align-self: center;
}
.userIcon {
  width: 2rem;
  height: 2rem;
  align-self: center;
  position: relative;
  top: 0.2rem;
}
.userIcon2 {
  width: 2rem;
  height: 2rem;
  align-self: center;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  top: 0.2rem;
  cursor: pointer;
}

.badge {
  background-color: rgba(0, 212, 255, 1);
  color: rgba(255, 255, 255, 0.897);
  border-radius: 10px;
  padding: 0.3rem 0.6rem;
  position: relative;
  top: -0.5rem;
  left: -0.2rem;
}
.animatedBadge {
  animation: animatedBadge 0.4s linear;
}

@keyframes animatedBadge {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.button {
  font-size: 1.2rem;
  display: flex;
  align-items: center;

  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
  line-height: 1.3;
  padding: 0.8rem 1.4rem;
  border: 0;
  color: #fff;
  cursor: pointer;
}
.button svg {
  width: 2rem;
  height: 2rem;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s;
}

.button svg:hover {
  color: #fff;
}
.userIcon2:hover {
  color: #fff;
}

.userFeedback {
  color: #fff;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.623);
  top: 4.5rem;
  left: -4rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  animation: animatedFeedback 0.2s linear;
}

@keyframes animatedFeedback {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 52em) {
  .logo {
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  .header ul {
    margin: 1.4rem;
    padding: 0;
    gap: 2rem;
  }
  .header li {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 45em) {
  .logo {
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  .iconsContent li {
    padding-left: 0.5rem;
  }

  .header a {
    font-size: 1.2rem;
  }
  .button {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    gap: 0.3rem;
  }
  .userIcon,
  .userIcon2 {
    width: 1.8rem;
    height: 1.8rem;
    top: 0.15rem;
    left: 0.5rem;
  }

  .button svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  .badge {
    font-size: 0.7rem;
    margin-left: -0.3rem;
    margin-top: -0.3rem;
    padding: 0.2rem 0.4rem;
  }
}
@media only screen and (max-width: 34em) {
  .nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .button {
    font-size: 1rem;
    padding: 0.5rem 0.6rem;
    gap: 0.3rem;
  }

  .header ul {
    gap: 0.5rem;

  }
  .userIcon,
  .userIcon2 {
    width: 1.8rem;
    height: 1.8rem;
  }

  .button svg {
    width: 1.8rem;
    height: 1.8rem;
  }
  .userFeedback {
    top: 3rem;
    left: -6rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 27.5em) {
  .nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .button {
    font-size: 1rem;
    padding: 1rem;
    gap: 0.3rem;
  }

  .header ul {
    padding: 0;
    margin: 0.8rem;
    gap: 0rem;
  }
  .userIcon,
  .userIcon2 {
    width: 1.4rem;
    height: 1.4rem;
  }

  .button svg {
    width: 1.3rem;
    height: 1.3rem;
  }
  .userFeedback {
    left: -5rem;
  }
}
