@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lora:wght@500;600&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 99%;
}

@media only screen and (max-width: 55em) {
  html {
    font-size: 99%;
  }
}

@media only screen and (max-width: 45em) {
  html {
    font-size: 90%;
  }
}
@media only screen and (max-width: 34em) {
  html {
    font-size: 80%;
  }
}
@media only screen and (max-width: 25em) {
  html {
    font-size: 60%;
  }
}
