.button {
  font-size: 1.2rem;
  display: inline-block;
  font-weight: 600;
  line-height: 1.3;
  padding: 0.8rem 1.4rem;
  border: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.623);
  border-radius: 4px;
  cursor: pointer;
}
